/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

/**
 * Post title styles
 *
 * These will be applied to all headings with a `page-title` or `entry-title`
 * class on the frontend and to the post title in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 */
.entry-title {
	@apply max-w-content mx-auto mb-6 text-3xl font-extrabold text-neutral-900;
}
.page-title {
	@apply max-w-full mx-auto text-4xl font-extrabold text-neutral-900;
}
.staff-page-title {
	@apply max-w-content mx-auto mb-3 mt-10 text-3xl font-extrabold text-neutral-900;
}
.watch-title {
	@apply max-w-full mx-auto py-5 uppercase text-4xl font-extrabold text-neutral-900;
}

/**
 * Layout styles for centered content areas
 *
 * If you are controlling the width of your content area with styles applied
 * to its container, you can delete the following styles whose selectors begin
 * with `.page-content >` and `.entry-content >`. For more details, please see
 * the following:
 *
 * https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/
 */
 
.page-content > *,
.entry-content > * {
	/* Content width from the `theme.json` file */
	@apply max-w-content mx-auto pb-8;
}

.entry-content > .alignwide {
	/* Wide width from the `theme.json` file */
	@apply max-w-wide;
}

.entry-content > .alignfull {
	@apply max-w-none;
}

.entry-content > .alignleft {
	@apply float-left mr-8;
}

.entry-content > .alignright {
	@apply float-right ml-8;
}

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	border:1px solid #ccc;
}

.embed-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

p.login-username {
	display: flex;
}

form#loginform {
	display: flex;
	flex-direction: column;
}

.login-container {
	border-radius: 10px;
	max-width: 600px;
}

.login-new-membership-container {
	width: 100%;
	text-align: center;
	border-top: 1px solid #bbb;
	margin-top: 30px;
	padding-top: 5px;
}
.login-submit input {
	width: 100%;
}

/* CONTENT RESTRICTION  */
.content-restricted {
	@apply h-screen;
}

/* MOBILE MENU  */
.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	z-index: 9999;
	display: flex;
	flex-direction: column;
}

.mobile-menu #primary-menu {
	position: absolute;
	top: 50px;
	left: 20px;
}

.mobile-menu.hidden {
	display: none;
}

.close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 30px;
	color: white;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
}

.close-btn:hover,
.close-btn:focus {
	color: #ccc;
}

.hamburger-icon {
	top: 50%;
	transform: translateY(-50%);
}

#site-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#primary-menu-toggle {
	margin-left: auto;
}

@media (max-width: 768px) {
	#site-navigation a img {
		max-height: 40px;
	}
}

/* Custom CSS for the Home Page */
section {
	padding: 0 10px;
}
.homepage-description {
	max-width: 600px;
	margin-left: 100px;
}
.homepage-description .page-title {
	color: #fff;
	margin-top: 0;
	background-image: none;
	padding: 0px 0 10px 0;
}
#homepage-header {
	background-size: cover; /* Ensures the background image covers the element */
	background-position: center; /* Centers the background image */
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}
.homepage-info-container, .page-info-container, .watch-page-info-container, .schedule-page-info-container, .news-page-info-container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 10px;
  }
  .single-show-page-container, .watch-page-info-container, .schedule-page-info-container, .news-page-info-container, .show-page-info-container {
	padding: 10px 10px 50px 10px;
  }
.homepage-news-container, .homepage-app-container, .homepage-partners-container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
#homepage-news-section, #homepage-partners-section {
	padding: 10px 0;
}

@media only screen and (max-width: 768px) {
	.homepage-description {
		max-width: 100%;
		margin-left: 0px;
		text-align: center;
	}
}
  
  /* Custom CSS for the About Page */

  .about-info-container {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	align-items: center;
  }
  .about-info-section {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding: 50px 0;
  }

  @media only screen and (max-width: 768px) {
    .about-info-container {
		display: block;
	  }
	  .about-feature-image {
		margin-bottom: 20px;
	  }
  }
  
  .about-description {
	flex: 60%;
  }
  .about-description p {
	margin-bottom: 10px;
  }
  .about-feature-image {
	flex: 30%;
  }
  
  .about-page-main-content {
	margin: 50px 0;
  }
  .about-social-media-container {
	display: flex;
	gap: 10px;
	justify-content: center;
  }
  
  #categories {
	display: flex;
	flex-direction: column;

  }

  .app-information {
	padding: 20px 0 50px 0;
  }
  .app-icons-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
  }
  .contact-section-container {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 0;
  }
  .contact-info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;  /* Make all rows the same height */
    gap: 50px;
    align-items: stretch; /* Ensure all items stretch to fill the height */
}

  @media only screen and (max-width: 768px) {
	.app-icons-container {
		flex-direction: column;
	}
	.contact-info-container {
		display: block;
	}
	.contact-info-container div {
		margin-bottom: 20px;
	}
  }
  
  .contact-info-title, .app-info-title, H3.wp-block-heading {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin: 50px 0;
	text-transform: uppercase;
  }
  
  .contact-info-container .meta-title {
	font-weight: bold;
	display: block;
  }
  
  .contact-info-container div {
	flex-basis: 20%;
	flex-grow: 1;
	background-color: #ffffff;
	border: 1px solid #bbb;
	border-radius: 10px;
	padding: 20px;
  }

  /* Misc CSS to tweak the whole site */ 
 
  #categories .show-list {
	border-bottom: 1px solid #bbb;
	padding: 30px 0;
  }

  #content {
	max-width: 100% !important;
  }

  .footer-copyright {
	color: #fff;
	text-align: center;
  }
  footer {
	box-shadow: 0px -5px 7px rgba(0, 0, 0, 0.09);
  }
  hr.homepage-hr {
	border-color: #bbb;
  }

  .menu-header-nav-container #primary-menu {
	text-transform: uppercase;
  }

  .menu-header-nav-container #primary-menu .btn {
	text-transform: capitalize;
  }

  .page-title {
	text-transform: uppercase;
  }

  .page-numbers {
	padding: 0.25rem 0.5rem;
	background-color: #E5E7EB;
	margin: 0.15rem;
	color: inherit;
  }
  .show-archive-background {
	background-color: #fff !important;
  }

  #show-search {
	font-size: 1rem;
	font-weight: normal;
	line-height: normal;
	width: 100%;
	max-width: 900px;
  }

.subscription {
	background-color: #fff;
	border: 1px solid #bbb;
	border-radius: 10px;
	padding: 10px;
	border-collapse: collapse;
  }

  .show-container img {
	border: 1px solid #bbb;
	max-height: 160px;
	overflow: hidden;
  }

  @media screen and (max-width: 900px) {
    .show-container img {
		max-height: 100%;
	  }
}

  .show-title {
	white-space: nowrap;
  }
  #show-thumbnails {
	padding: 0 !important;
  }
  .show-container {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
  }

/* Custom CSS for the Channels pages */
.channels-page-info-container {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 10px;
}
.channel-archive-thumbnail img {
	background-color: #fff;
	border: 1px solid #bbb;
	max-width: 300px;
	overflow: hidden;
  }

.channel-archive-container {
	padding-bottom: 50px;
	margin-top: 50px;
  }
  .channel-archive-titles {
	font-weight: bold;
	font-size: 1.5rem;
  }

  .channel-archive-schedule-title {
	font-weight: bold;
	margin-top: 10px;
	text-transform: uppercase;
  }
  .channel-archive-item {
	display: flex;
  }
  @media screen and (max-width: 800px) {
    .channel-archive-item {
		display: block;
	  }
	.channel-archive-thumbnail img {
		margin-bottom: 10px;
	}
}

  /* Custom CSS for the Watch page */

  .wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  
  .trms-player {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
  }

  .watch-content-container h3, .watch-content-container .schedule-container {
	display: none;
  }

  /* Custom CSS for the Schedule Page */

  .schedule-content-container h3{
	font-size: 1.5rem;
	font-weight: bold;
  }

  .schedule-content-container table {
	width: 100%;
  }

  .schedule-content-container th {
	text-align: left;
	background-color: #fff;
  }
  .schedule-content-container tr {
	border-bottom: 1px solid #bbb;
  }
  .schedule-content-container tr:nth-child(odd) {
	background-color: #f9f9f9;
}
  .schedule-content-container td, .schedule-content-container th {
	padding: 7px 0;
  }
  .schedule-content-container .wrap {
	display: none;
  }
#schedule_date {
	border: 1px solid #bbb;
	padding: 0 5px;
	margin: 0 5px;
}
  .schedule-page-nagivation, .watch-page-nagivation {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
  }

  .schedule-date-navigation {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 1rem;
	align-items: center;
  }
  .schedule-header-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
  }
  @media screen and (max-width: 900px) {
	.schedule-header-container {
		display: block;
	}
	.schedule-date-navigation {
		margin: 10px 0;
	}
	.schedule-next-btn {
		text-align: right;
	}
	.schedule-date-navigation form {
		display: flex;
		justify-content: center;
	}
  }
  .schedule-time {
	min-width: 100px;
  }
  .watch-button {
	text-shadow: none;
	text-transform: capitalize;
	max-width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	display: block;
  }
  .watch-button:hover {
	text-decoration: none !important;
  }

  /* Custom CSS for Edit Profile Page */

  #rcp_profile_editor_form {
	display: flex;
	flex-direction: column;
	gap: 20px;
  }
  #rcp_profile_editor_form .rcp-input, #rcp_profile_editor_form select {
	border: 1px solid #bbb;
	display: block;
	width: 100%;
	max-width: 500px;
  }

  #rcp_profile_editor_form select {
	padding: 7px 5px;
  }

  #rcp_profile_editor_form legend {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5rem;
  }
  .rcp-button {
	color:#fff;
	padding: .5rem 1rem;
	background-color: #3192C8; /* TO DO: need to hook this up to the brand accent color */

  }

  /* Custom CSS for the Membership page */

  .rcp-table-wrapper h3 {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: bold;
  }

  .rcp-table th {
	padding-top: 5px;
  }

  @media screen and (max-width: 900px) {
    .rcp-table#rcp-account-overview thead th, .rcp-table#rcp-payment-history thead th {
        display: table-cell !important;
    }
}

  /* Custom CSS for Registration page */
 .rcp_header {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 0;
	margin-bottom: 0;
 }
  .rcp_user_fieldset input {
	border: 1px solid #bbb;
	border-radius: 0 !important;
	padding-block: 4px 8px !important;
  }
  .membership-amount {
	font-size: 1.25rem;
	text-transform: uppercase;
  }
  .rcp_form fieldset.rcp_subscription_fieldset {
	margin: 10px 0 0 0;
}
  .rcp_registration_total_details {
	margin-top: 0;
  }

  #rcp_subscription_levels, .rcp_form li.rcp_subscription_level {
	margin-bottom: 0;
  }

  /* Custom CSS for the Restricted content message */

  .restricted-content-message {
	width: 100%;
	border: 1px solid #bbb;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	background-color: #f9f9f9;
  }

/* Custom CSS for Footer Social media */

.footer-social-media-container img {
	max-width: 30px ;
}

/* Custom CSS for staff pages */
#staff-page-content, #single-staff-page-content {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 20px;
}
#single-staff-page-content {
	padding-bottom: 30px;
}
.clear-float {
	clear:left;
}

.staff-item-container {
	flex: 0 0 20%; /* Each item takes up 20% of the container's width */
	padding: 0 20px 50px 20px;
    box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media (max-width: 800px) {
    .staff-item-container {
      flex: 0 0 25%; /* Adjusting for smaller screens */
    }
}

@media (max-width: 600px) {
    .staff-item-container {
      flex: 0 0 33.33%; /* Adjusting for even smaller screens */
    }
}

@media (max-width: 400px) {
    .staff-item-container {
      flex: 0 0 50%; /* Adjusting for the smallest screens */
    }
}

.staff-item-title {
	font-size: 1.25rem;
	font-weight: bold;
  }
.staff-listing-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}
.staff-single-page-content {
	margin-right: auto;
	margin-left: auto;
	max-width: 1200px;
  }
.staff-thumbnail-single {
	max-width: 300px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	display: block;
}
@media screen and (max-width: 900px) {
    .staff-thumbnail-single {
		float: none;
		margin: 20px auto;
		display: block;
	}
}

/* Custom CSS for the Restricted content message */

.restricted-content-message {
	width: 100%;
	border: 1px solid #bbb;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	background-color: #f9f9f9;
  }
  
  /* Custom CSS for Footer Social media */
  
  .footer-social-media-container img {
	max-width: 30px ;
  }
  
/* custom css for the single news page */
.news-single-title {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.news-page-info-container {
	max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/* custom css for dropdown menus */
.menu-header-nav-container li.menu-item-has-children {
	position: relative;
  	display: inline-block;
}

.menu-header-nav-container .sub-menu {
	display: none;
	position: absolute;
	min-width: 200px;
	width: 100%;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin-top: 20px;
  }

  .menu-header-nav-container .sub-menu li a {
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }

  li.menu-item-has-children:hover .sub-menu {
	display: block;
  }

  .menu-header-nav-container .menu-item {
	padding: 25px 16px;
  }
  .menu-header-nav-container .menu-item .sub-menu li {
	padding: 0;
  }
  .menu-header-nav-container .menu-item.btn {
	padding: .5rem 1rem;
  }

  /* Custom CSS for the Agenda PDF embed */
  .pdf-embed {
	height: 100vh; /* Full viewport height */
    min-height: 550px; /* Minimum height */
	width: 100%;
  }

  #pdf-canvas {
	width: 100%;
	height: 100%;
	min-height: 550px;
}

/* custom css for the show page */
.show-chapters-container, .show-agenda-container {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 30px;
}
.show-chapters-container li:nth-child(4n), .show-chapters-container li:nth-child(4n-1) {
	background-color: #f9f9f9;
}
.show-chapters-container li {
	padding: 10px 10px;
	border-bottom: 1px solid #bbb;
}
.show-chapters-container {
	grid-template-columns: auto 75%;
}

/* Custom CSS for the show table view page */
.show-table-container tr:nth-child(even) {
	background-color: #f9f9f9;
}
.show-table-container td, .show-table-container th {
	vertical-align: middle;
}
.show-table-list {
	border-bottom: 1px solid #bbb;
	padding: 30px 0;
}