/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

/**
 * Post title styles
 *
 * These will be applied to all headings with a `page-title` or `entry-title`
 * class on the frontend and to the post title in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 */
.page-title,
.entry-title {
	@apply max-w-content mx-auto mb-6 text-3xl font-extrabold text-neutral-900;
}

/**
 * Layout styles for centered content areas
 *
 * If you are controlling the width of your content area with styles applied
 * to its container, you can delete the following styles whose selectors begin
 * with `.page-content >` and `.entry-content >`. For more details, please see
 * the following:
 *
 * https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/
 */
 
.page-content > *,
.entry-content > * {
	/* Content width from the `theme.json` file */
	@apply max-w-content mx-auto pb-8;
}

.entry-content > .alignwide {
	/* Wide width from the `theme.json` file */
	@apply max-w-wide;
}

.entry-content > .alignfull {
	@apply max-w-none;
}

.entry-content > .alignleft {
	@apply float-left mr-8;
}

.entry-content > .alignright {
	@apply float-right ml-8;
}

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	border:1px solid #ccc;
}

.embed-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

p.login-username {
	display: flex;
}

form#loginform {
	display: flex;
	flex-direction: column;
}

.login-container {
	border-radius: 10px;
}

.login-new-membership-container {
	width: 100%;
	text-align: center;
	border-top: 1px solid #bbb;
	margin-top: 30px;
	padding-top: 5px;
}
.login-submit input {
	width: 100%;
}

/* CONTENT RESTRICTION  */
.content-restricted {
	@apply h-screen;
}

/* MOBILE MENU  */
.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	z-index: 9999;
	display: flex;
	flex-direction: column;
}

.mobile-menu #primary-menu {
	position: absolute;
	top: 50px;
	left: 20px;
}

.mobile-menu.hidden {
	display: none;
}

.close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 30px;
	color: white;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
}

.close-btn:hover,
.close-btn:focus {
	color: #ccc;
}

.hamburger-icon {
	top: 50%;
	transform: translateY(-50%);
}

#site-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#primary-menu-toggle {
	margin-left: auto;
}

@media (max-width: 768px) {
	#site-navigation a img {
		max-height: 40px;
	}
}
  
  /* Custom CSS for the About Page */
  
  .about-info-container {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	align-items: center;
  }

  @media only screen and (max-width: 768px) {
    .about-info-container {
		display: block;
	  }
	  .about-feature-image {
		margin-bottom: 20px;
	  }
  }
  
  .about-description {
	flex: 60%;
  }
  .about-description p {
	margin-bottom: 10px;
  }
  .about-feature-image {
	flex: 30%;
  }
  
  .about-page-main-content {
	margin: 50px 0;
  }
  #categories {
	display: flex;
	flex-direction: column;
	
  }
 /* Custom Css for the About us Page */ 
  .app-information {
	border-top: 1px solid #bbb;
  }
  .app-icons-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
  }
  .contact-info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;  /* Make all rows the same height */
    gap: 50px;
    align-items: stretch; /* Ensure all items stretch to fill the height */
}

  @media only screen and (max-width: 768px) {
	.app-icons-container {
		flex-direction: column;
	}
	.contact-info-container {
		display: block;
	}
	.contact-info-container div {
		margin-bottom: 20px;
	}
  }
  
  .contact-info-title, .app-info-title {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin: 50px 0;
	text-transform: uppercase;
  }
  
  .contact-info-container .meta-title {
	font-weight: bold;
	display: block;
  }
  
  .contact-info-container div {
	flex-basis: 20%;
	flex-grow: 1;
	background-color: #ffffff;
	border: 1px solid #bbb;
	border-radius: 10px;
	padding: 20px;
  }

  /* Misc CSS to tweak the whole site */ 
  
  #categories .show-list {
	border-bottom: 1px solid #bbb;
	padding: 30px 0;
  }

  #content {
	max-width: 1200px !important;
	padding: 0 10px;
  }

  .footer-copyright {
	color: #fff;
	text-align: center;
  }

  .homepage-info-container {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	align-items: center;
	margin-top: 20px;
	padding-bottom: 40px;
	border-bottom: 1px solid #bbb;
  }

  .homepage-description {
	flex: 50%;
  }
  
  .homepage-feature-image {
	flex: 40%;
  }

  hr.homepage-hr {
	border-color: #bbb;
  }

  .menu-header-nav-container #primary-menu {
	gap: 10px;
	text-transform: uppercase;
  }

  .menu-header-nav-container #primary-menu .btn {
	text-transform: capitalize;
  }

  .page-title {
	margin-top: 30px;
	text-transform: uppercase;
  }

  .page-numbers {
	padding: 0.25rem 0.5rem;
	background-color: #E5E7EB;
	margin: 0.15rem;
	color: inherit;
  }

.subscription {
	background-color: #fff;
	border: 1px solid #bbb;
	border-radius: 10px;
	padding: 10px;
	border-collapse: collapse;
  }

  .show-container img {
	border: 1px solid #bbb;
	max-height: 160px;
	overflow: hidden;
  }

  @media screen and (max-width: 900px) {
    .show-container img {
		max-height: 100%;
	  }
}

  .show-title {
	white-space: nowrap;
  }

  .show-container {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
  }

/* Custom CSS for the Channels pages */

.channel-archive-thumbnail {
	background-color: #fff;
	border: 1px solid #bbb;
	border-radius: 10px;
	max-width: 300px;
	overflow: hidden;
  }

.channel-archive-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 30px;
	align-items: center;
	padding-bottom: 50px;
	margin-top: 50px;
  }
  .channel-archive-titles {
	font-weight: bold;
	font-size: 1.5rem;
  }

  .channel-archive-schedule-title {
	font-weight: bold;
	margin-top: 10px;
	text-transform: uppercase;
  }

  /* Custom CSS for the Watch page */

  .wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  
  .trms-player {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
  }

  .watch-content-container h3, .watch-content-container .schedule-container {
	display: none;
  }

  /* Custom CSS for the Schedule Page */

  .schedule-content-container h3{
	font-size: 1.5rem;
	font-weight: bold;
  }

  .schedule-content-container table {
	width: 100%;
  }

  .schedule-content-container th {
	text-align: left;
	background-color: #fff;
  }
  .schedule-content-container tr {
	border-bottom: 1px solid #bbb;
  }
  .schedule-content-container tr:nth-child(odd) {
	background-color: #f9f9f9;
}
  .schedule-content-container td, .schedule-content-container th {
	padding: 7px 0;
  }
  .schedule-content-container .wrap {
	display: none;
  }
#schedule_date {
	border: 1px solid #bbb;
	padding: 0 5px;
	margin: 0 5px;
}
  .schedule-page-nagivation, .watch-page-nagivation {
	display: flex;
	justify-content: space-between;
  }

  .schedule-date-navigation {
	display: flex;
	justify-content: space-between;
	margin: 3px 0;
  }
  .schedule-time {
	min-width: 100px;
  }

  /* Custom CSS for Edit Profile Page */

  #rcp_profile_editor_form {
	display: flex;
	flex-direction: column;
	gap: 20px;
  }
  #rcp_profile_editor_form .rcp-input, #rcp_profile_editor_form select {
	border: 1px solid #bbb;
	display: block;
	width: 100%;
	max-width: 500px;
  }

  #rcp_profile_editor_form select {
	padding: 7px 5px;
  }

  #rcp_profile_editor_form legend {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5rem;
  }
  .rcp-button {
	color:#fff;
	padding: .5rem 1rem;
	background-color: #3192C8; /* TO DO: need to hook this up to the brand accent color */

  }

  /* Custom CSS for the Membership page */

  .rcp-table-wrapper h3 {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: bold;
  }

  .rcp-table th {
	padding-top: 5px;
  }

  @media screen and (max-width: 900px) {
    .rcp-table#rcp-account-overview thead th, .rcp-table#rcp-payment-history thead th {
        display: table-cell !important;
    }
}

  /* Custom CSS for Registration page */
 .rcp_header {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 0;
	margin-bottom: 0;
 }
  .rcp_user_fieldset input {
	border: 1px solid #bbb;
	border-radius: 0 !important;
	padding-block: 4px 8px !important;
  }
  .membership-amount {
	font-size: 1.25rem;
	text-transform: uppercase;
  }
  .rcp_form fieldset.rcp_subscription_fieldset {
	margin: 10px 0 0 0;
}
  .rcp_registration_total_details {
	margin-top: 0;
  }

  #rcp_subscription_levels, .rcp_form li.rcp_subscription_level {
	margin-bottom: 0;
  }

  /* Custom CSS for the Restricted content message */

  .restricted-content-message {
	width: 100%;
	border: 1px solid #bbb;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	background-color: #f9f9f9;
  }

/* Custom CSS for Footer Social media */

.footer-social-media-container img {
	max-width: 30px ;
}