/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

/**
 * Post title styles
 *
 * These will be applied to all headings with a `page-title` or `entry-title`
 * class on the frontend and to the post title in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 */
.page-title,
.entry-title {
	@apply max-w-content mx-auto mb-6 text-3xl font-extrabold text-neutral-900;
}

/**
 * Layout styles for centered content areas
 *
 * If you are controlling the width of your content area with styles applied
 * to its container, you can delete the following styles whose selectors begin
 * with `.page-content >` and `.entry-content >`. For more details, please see
 * the following:
 *
 * https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/
 */
.page-content > *,
.entry-content > * {
	/* Content width from the `theme.json` file */
	@apply max-w-content mx-auto pb-8;
}

.entry-content > .alignwide {
	/* Wide width from the `theme.json` file */
	@apply max-w-wide;
}

.entry-content > .alignfull {
	@apply max-w-none;
}

.entry-content > .alignleft {
	@apply float-left mr-8;
}

.entry-content > .alignright {
	@apply float-right ml-8;
}

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	border:1px solid #ccc;
}

.embed-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

p.login-username {
	display: flex;
}

form#loginform {
	display: flex;
	flex-direction: column;
}

/* CONTENT RESTRICTION  */
.content-restricted {
	@apply h-screen;
}

/* MOBILE MENU  */
.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	z-index: 9999;
	display: flex;
	flex-direction: column;
}

.mobile-menu #primary-menu {
	position: absolute;
	top: 50px;
	left: 20px;
}

.mobile-menu.hidden {
	display: none;
}

.close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 30px;
	color: white;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
}

.close-btn:hover,
.close-btn:focus {
	color: #ccc;
}

.hamburger-icon {
	top: 50%;
	transform: translateY(-50%);
}

#site-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#primary-menu-toggle {
	margin-left: auto;
}

@media (max-width: 768px) {
	#site-navigation a img {
		max-height: 40px;
	}
}
  
  /* Custom CSS for the About Page */
  
  .about-info-container {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	align-items: center;
  }
  
  .about-description {
	flex: 60%;
  }

  .about-description p {
	margin-bottom: 10px;
  }
  
  .about-feature-image {
	flex: 30%;
  }
  
  .about-page-main-content {
	margin: 50px 0;
  }
  
  #categories {
	display: flex;
	flex-direction: column;
	
  }

  .contact-info-container .post-meta {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 50px;
	align-items: center;
  }
  
  .contact-info-title {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin: 50px 0;
  }
  
  .contact-info-container .post-meta-key {
	font-weight: bold;
	display: block;
  }
  
  .contact-info-container .post-meta li {
	flex-basis: 20%;
	flex-grow: 1;
	background-color: #ffffff;
	border: 1px solid #bbb;
	border-radius: 10px;
	padding: 20px;
  }

  /* Misc CSS to tweak the whole site */ 
  
  #categories .show-list {
	border-bottom: 1px solid #bbb;
	padding: 30px 0;
  }

  #content {
	max-width: 1200px !important;
  }

  .footer-copyright {
	color: #fff;
	text-align: center;
  }

  .homepage-info-container {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	align-items: center;
	margin-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #bbb;
  }

  .homepage-description {
	flex: 50%;
  }
  
  .homepage-feature-image {
	flex: 40%;
  }

  hr.homepage-hr {
	border-color: #bbb;
  }

  .menu-header-nav-container #primary-menu {
	gap: 10px;
	text-transform: uppercase;
  }

  .menu-header-nav-container #primary-menu .btn {
	text-transform: capitalize;
  }

  .page-title {
	margin-top: 30px;
	text-transform: uppercase;
  }

  .page-numbers {
	padding: 0.25rem 0.5rem;
	background-color: #E5E7EB;
	margin: 0.15rem;
	color: inherit;
  }

.subscription {
	background-color: #fff;
	border: 1px solid #bbb;
	border-radius: 10px;
	padding: 10px;
	border-collapse: collapse;
  }

  .show-container img {
	border: 1px solid #bbb;
  }

  .show-title {
	white-space: nowrap;
  }

  .show-container {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
  }
