/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	@apply bg-background text-foreground font-sans h-screen relative;
}

html {
	position: relative;
	min-height: 100%;
}

.btn-primary {
	@apply bg-brand-main hover:shadow-2xl p-4;
}

.prose :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
	@apply !my-0;
}

.prose a {
	color: inherit; /* Or any other properties */
	font-weight: normal;
	text-decoration: none;
}

textarea {
	@apply border border-gray-300;
}

article header h2.entry-title,
footer a.post-edit-link {
	@apply hidden;
}

#content {
	@apply my-0 mx-auto max-w-screen-lg;
}
